
.letras {
    margin-left: 5%;
    color: white;
}

.letrasparagrafo {
    margin-left: 9%;
    margin-right: 9%;
}

.margin {
    margin-left: 16%;
}

.row {
    margin-left: 28%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.roww {
    margin-left: 5%;
    margin-right: 5%;
}

.letras {
    color: white;
}

.margin {
    margin-left: 16%;
}

.letrasparagrafo {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.form-container {
    margin-top: 15px;
}

.row {
    margin: auto;
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

.modal-header {
    background-color: #A43232;
    color: white;
}

.modal-footer {
    background-color: #F7EAD3;
    border-top: none;
    display: flex;
   
    padding: 10px;
}
.modal-footer .btn {
    width: 120px; /* Ajusta a largura dos botões */
    margin: 0 10px; /* Adiciona margem para espaçar os botões */
}

.modal-footer .btn-danger {
    background-color: #A43232;
    border: none;
}

.modal-footer .btn-success {
    background-color: #4CAF50;
    border: none;
}

.date-time-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 15px;
}

.date-time-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.date-container input[type="date"] {
    flex: 1; /* Faz o calendário ocupar o espaço restante */
    max-width: 200px; /* Ajusta o tamanho máximo do calendário */
}
.modal-content {
    background-color: #F7EAD3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}
